@using SmartDj.Shared.Models


<h3>Zamówione utwory</h3>

<Grid @ref="grid"
      TItem="SongRequest"
      Class="table table-hover table-bordered table-striped"
      DataProvider="SongRequestDataProvider">

    <GridColumn TItem="SongRequest" HeaderText="Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="SongRequest" HeaderText="Data">
        @context.DateCreated
    </GridColumn><GridColumn TItem="SongRequest" HeaderText="Piosenka">
        @context.SongTitle
    </GridColumn>
    <GridColumn TItem="SongRequest" HeaderText="Od kogo">
        @context.RequestorName
    </GridColumn>
    <GridColumn TItem="SongRequest" HeaderText="Dla kogo">
        @context.DedicateeName
    </GridColumn>
    <GridColumn TItem="SongRequest" HeaderText="Dedykacja">
        @context.Message
    </GridColumn>
    <GridColumn TItem="SongRequest" HeaderText="Było grane">
        <ChildContent>
            @if (!context.WasPlayed)
            {
                <Button
                    Color="ButtonColor.Success"
                    @onclick="(() => UpdateSongRequest(context.Id, true))"
                    Outline="true">
                        <Icon Name="IconName.PlayCircleFill"/> Zagraj
                </Button>
            }
            else
            {
                <Button
                    Color="ButtonColor.Dark"
                    @onclick="(() => UpdateSongRequest(context.Id, false))"
                    Outline="true">
                        <Icon Name="IconName.CheckCircleFill"/> Było
                </Button>
            }
            
        </ChildContent>
    </GridColumn>

</Grid>